header {
    background-color: white;
    height: 70px;
    width: 100%;
    display: flex;
    border-bottom: 1px, solid #CCCCCC;
    align-items: center;
    
}

#header_logo {
    height: 80%;
    width: 142px;

    background-image: url("../images/logo.png");
    background-position: center;
    background-repeat: no-repeat;

    padding-left: 20px;
}